{
  "@context": "https://schema.org",
  "@type": "Course",
  "name": "{{ scraped.title or 'REPLACE_ME_COURSE_NAME' }}",
  "description": "{{ scraped.description or 'REPLACE_ME_DESCRIPTION' }}",
  "provider": {
    "@type": "Organization",
    "name": "{{ scraped.organization_name or 'REPLACE_ME_PROVIDER' }}",
    "sameAs": "{{ scraped.url.split('://')[0] }}://{{ scraped.url.split('://')[1].split('/')[0] }}/"
  },
  "url": "{{ scraped.url }}",
  "image": "{{ scraped.image or 'REPLACE_ME_IMAGE_URL' }}",
  "hasCourseInstance": {
    "@type": "CourseInstance",
    "courseMode": "online",
    "courseWorkload": "REPLACE_ME_DURATION_ISO8601"
  }
}
