{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "{{ scraped.title or 'REPLACE_ME_EVENT_NAME' }}",
  "description": "{{ scraped.description or 'REPLACE_ME_DESCRIPTION' }}",
  "startDate": "REPLACE_ME_ISO_DATETIME",
  "endDate": "REPLACE_ME_ISO_DATETIME",
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "eventStatus": "https://schema.org/EventScheduled",
  "location": {
    "@type": "VirtualLocation",
    "url": "{{ scraped.url }}"
  },
  "organizer": {
    "@type": "Organization",
    "name": "{{ scraped.organization_name or 'REPLACE_ME_ORG' }}",
    "url": "{{ scraped.url.split('://')[0] }}://{{ scraped.url.split('://')[1].split('/')[0] }}/"
  },
  "image": "{{ scraped.image or 'REPLACE_ME_IMAGE_URL' }}"
}
